aniso8601==3.0.2
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
boto3==1.5.36
botocore==1.8.50
bs4==0.0.1
bz2file==0.98
cefpython3==57.1
certifi==2017.11.5
chardet==3.0.4
click==6.7
configparser==3.5.0
cycler==0.10.0
docutils==0.14
Flask==1.0.2
Flask-Cors==3.0.6
Flask-RESTful==0.3.6
future==0.16.0
gensim==3.3.0
gitdb2==2.0.4
GitPython==2.1.11
h5py==2.7.1
html5lib==0.9999999
idna==2.6
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jiphy==1.2.2
jmespath==0.9.3
JPype1-py3==0.5.5.2
json-rpc==1.10.3
Keras==2.1.4
konlpy==0.4.4
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
mypy==0.620
nsml==0.0
numpy==1.14.2
olefile==0.44
opencv-python==3.4.0.12
pandas==0.22.0
parso==0.1.0
Pillow==5.0.0
pipenv==2018.5.18
pluggy==0.5.2
progressbar2==3.37.0
protobuf==3.4.0
pyaes==1.6.1
pyasn1==0.4.2
pychalk==2.0.0
pycodestyle==2.3.1
pydocstyle==2.1.1
pyflakes==1.6.0
pygame==1.9.3
pyparsing==2.2.0
pytgasu==0.2.0
python-dateutil==2.6.1
python-language-server==0.9.0
python-utils==2.3.0
pythonnet==2.3.0
pytz==2017.3
pywebview==1.8
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
smart-open==1.5.6
smmap2==2.0.4
snowballstemmer==1.2.1
Telethon==0.18.0.3
tensorflow==1.3.0
tensorflow-gpu==1.3.0
tensorflow-tensorboard==0.1.4
torch==0.3.1b0+4cf3225
Transcrypt==3.6.101
typed-ast==1.1.0
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
yapf==0.19.0
